/* Main Style */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #eee;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  clear: both;
  font-weight: normal;
  line-height: 1;
  vertical-align: baseline;
  font-weight: 300; }

ol, ul {
  list-style: none; 
}
a:active, a:hover, a{text-decoration: none}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after{
  display: table;
  content: " ";
}
.clearfix:after,
.row:after{
  clear:both;
}
p{
  color: #444;
}
code pre{
  box-shadow: inset 0 0 1px rgba(0,0,0,0.7);
  margin: 10px 15%;
  padding: 10px;
  border-radius: 7px;
  background: #e7e7e7;
  color: #444;
  font-size: 14px;
  line-height: 1.5;
}
nav{
  background: mediumslateblue;
  margin: 20px 0;
  text-align: center;
}
nav ul{
  list-style: none;
  padding-left: 0;
  z-index: 9999;
}
nav ul li{
  display: inline-block;
  position: relative;
}
nav ul li:after{
  background: #fff;
  width: 100%;
  height: 0;
  display: block;
  content: ' ';
  position: absolute;
  bottom: 0px;
  transition: all 0.40s ease;
  -webkit-transition: all 0.40s ease;  
}
nav ul li a{
  display: block;
  color: #fafafa;
  padding: 27px 10px;
}
nav ul li ul{
  position: absolute;
  width: 200px;
  left: -40px;
  background: skyblue;
  border-radius: 4px;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
  padding: 15px;
  visibility: hidden;
}
nav ul li ul:after{
  content: ' ';
  position: absolute;
  top: -9px;
  left: 35px;
  border-color: skyblue transparent;
  border-style: solid;
  border-width: 0 15px 10px;
}
nav ul li:hover:after{
  height: 6px;
}
nav ul li:hover ul{
  animation: fadeUp 0.30s linear;
  -webkit-animation: fadeUp 0.30s linear;
  visibility: visible;
}
nav ul li ul li a{
  padding: 10px 0;
}
nav ul li ul li:hover:after{
  height: 2px;
}
.tf_slide:nth-child(1){
  background: palegoldenrod;
}
.tf_slide:nth-child(2){
  background: indianred;
}
.tf_slide:nth-child(3){
  background: olive;
}
.tf_slide:nth-child(4){
  background: aliceblue;
}
.tf_slide:nth-child(5){
  background: darkkhaki;
}
.tf_slide:nth-child(6){
  background: skyblue;
}
.tf_slide:nth-child(7){
  background: orange;
}
footer{
  background: mediumslateblue;
  color: #fafafa;
  padding: 25px 0 ;
  text-align: center;
}
.src{
  margin: 60px 0;
}
@keyframes fadeUp{
  0%{transform: translateY(20%);}
  100%{transform: translateY(0); visibility: visible}
}
@-webkit-keyframes fadeUp{
  0%{-webkit-transform: translateY(20%);}
  100%{-webkit-transform: translateY(0); visibility: visible}
}